#!/usr/bin/env bash

alias py="python"

# Everyday utils
alias sl='ls' # Choochoo!
alias lsdot='ls -ad .?* --color=always'
alias lsg='ls | grep -i $1'
alias lsa='ls -a'
#alias fd='fdfind'
#alias df="df -x'squashfs'"
alias locate="plocate -i"
alias tmp='cd "$(mktemp -d)"'
alias atom="pulsar"
alias steam-flatpak="flatpak run com.valvesoftware.Steam"

# File I/O
alias norg="gron --ungron"
alias ungron="gron --ungron"
alias todo='bash ~/git/scripts/utils/todo.sh'

# Dev
alias make13='make -j13'
alias gitlog='git log --graph --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset" --abbrev-commit'
#alias luarocks="luarocks --lua-version 5.1" #doesn't work when in here?
#alias disas="objdump -drwCS -Mintel"
#alias disas2="objdump -drwCS -Matt"
alias wwserver="cd ~/git/WideWorlds/ && npm run server"
alias wwclient="cd ~/git/WideWorlds/ && VITE_SERVER_URL=http://localhost:8080 npm run client-dev"
alias wwdb="cd ~/git/WideWorlds && sqlitebrowser wideworlds.sqlite3"
alias wwlint="cd ~/git/WideWorlds && npm run lint"

# Network Stuff
alias myip='curl -s https://nekohime.net/tools/ip.php' # I end up googling my own IP anyway.
alias wget='wget --hsts-file ~/.local/share/wget-hsts' # Don't fucking pollute my $HOME!

# Terminal Browsing
alias set_w3m='export BROWSER=w3m'
alias ddg='BROWSER=w3m ddgr'

#Media Stuff

alias vlc="smplayer"

# Misc
