#!/usr/bin/env bash

export EDITOR=nano # For actually getting things done instead of launcing an operating system you can't quit on top of your exisiting one.
export LANG="en_CA.UTF-8" # Not a burgerfucker
export LC_ALL="en_CA.UTF-8" # ^

#Path Exports
#export GO_PATH="/usr/local/go/bin" #Fuck Go
#export CARGO_PATH="$HOME/.cargo/bin" #Fuck Rust
export PYTHON_BIN="$HOME/.local/bin"
export RUBY_BIN="$HOME/.local/share/gem/ruby/3.0.0/bin" #Fuck Ruby
                                     #But most importantly, Fuck You. With a Rusty nail.

export PATH="$RUBY_BIN:$PYTHON_BIN:$PATH" #$PATH Always at the end
export XDG_DATA_DIRS="$XDG_DATA_DIRS:/var/lib/flatpak/exports/share:/home/nekohime/.local/share/flatpak/exports/share"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_CACHE_HOME="$HOME/.cache"
#:$CARGO_PATH"
#The following line should be put in /etc/profile
#export GTK_USE_PORTAL=1


export TODO_FILE=~/.todo/list.txt # https://blog.nekohime.net/simple-todo-list-manager.html

export LESS_TERMCAP_mb="$(printf '\e[1;31m')"
export LESS_TERMCAP_md="$(printf '\e[1;31m')"
export LESS_TERMCAP_me="$(printf '\e[0m')"
export LESS_TERMCAP_se="$(printf '\e[0m')"
export LESS_TERMCAP_so="$(printf '\e[1;44;33m')"
export LESS_TERMCAP_ue="$(printf '\e[0m')"
export LESS_TERMCAP_us="$(printf '\e[1;32m')"

#So this on its own doesn't fix what it was put here to fix
#pinentry-program /usr/bin/pinentry-curses needs to be set in gpg-agent.conf
#Once that's done, simply reloadagent (Or restart) and it should work as expected
# The following export will make it terminal only but will not use the curses interface - it will output the password as you type it
# This will be removed in the future
# Arch BTW
#export GPG_TTY=$(tty)

export NCURSES_NO_UTF8_ACS=1
export LESSHISTFILE=/dev/null #Stop polluting! #?

