#!/usr/bin/env bash

export EDITOR=nano # For actually getting things done instead of launching an operating system you can't quit on top of your existing one.
export LANG="en_CA.UTF-8" # Not a burgerfucker
export LC_ALL="en_CA.UTF-8" # ^

export TODO_FILE=~/.todo/list.txt # https://blog.nekohime.net/simple-todo-list-manager.html

#Path Exports
export PYTHON_BIN="$HOME/.local/bin"
export CARGO_PATH="$HOME/.cargo/bin"
export RUBY_BIN="$HOME/.local/share/gem/ruby/3.0.0/bin"
export JAVA_HOME="/usr/lib/jvm/java-11-openjdk/" # 11 required for OSRS, let's hope it won\'t break anything else ;-)

# We're not even putting  this in $PATH, yet this makes us able to use the nvm
# command. What?
export NVM_DIR="$HOME/.config/nvm"
# Not gaining anything with the following...
#[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
#[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

export PATH="$PYTHON_BIN:$CARGO_PATH:$RUBY_BIN:$PATH"
export XDG_DATA_DIRS="$XDG_DATA_DIRS:/var/lib/flatpak/exports/share:/home/$USER/.local/share/flatpak/exports/share"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_CACHE_HOME="$HOME/.cache"

# The following line should be put in /etc/profile
# Will be removed at some point if found to be unnecessary in 2023+
#export GTK_USE_PORTAL=1

export LESS_TERMCAP_mb="$(printf '\e[1;31m')"
export LESS_TERMCAP_md="$(printf '\e[1;31m')"
export LESS_TERMCAP_me="$(printf '\e[0m')"
export LESS_TERMCAP_se="$(printf '\e[0m')"
export LESS_TERMCAP_so="$(printf '\e[1;44;33m')"
export LESS_TERMCAP_ue="$(printf '\e[0m')"
export LESS_TERMCAP_us="$(printf '\e[1;32m')"

#So this on its own doesn't fix what it was put here to fix
#pinentry-program /usr/bin/pinentry-curses needs to be set in gpg-agent.conf
#Once that's done, simply reloadagent (Or restart) and it should work as expected
# The following export will make it terminal only but will not use the curses interface - it will output the password as you type it
# This will be removed in the future
# Arch BTW
export GPG_TTY=$(tty)

export LESSHISTFILE=/dev/null # Make `less` stop polluting $HOME.
