#!/usr/bin/env bash

# Archives & Compression
function x {
  if [ -z "$1" ]; then
    echo "Usage: x <path/file_name>.<zip|rar|bz2|gz|tar|tbz2|tgz|Z|7z|xz|ex|tar.bz2|tar.gz|tar.xz>"
  else
    if [ -f $1 ]; then
      case $1 in
        *.tar.bz2)   tar xvjf $1    ;;
        *.tar.gz)    tar xvzf $1    ;;
        *.tar.xz)    tar xvJf $1    ;;
        *.lzma)      unlzma $1      ;;
        *.bz2)       bunzip2 $1     ;;
        *.rar)       unrar x -ad $1 ;;
        *.gz)        gunzip $1      ;;
        *.tar)       tar xvf $1     ;;
        *.tbz2)      tar xvjf $1    ;;
        *.tgz)       tar xvzf $1    ;;
        *.zip)       unzip $1       ;;
        *.Z)         uncompress $1  ;;
        *.7z)        7z x $1        ;;
        *.xz)        unxz $1        ;;
        *.exe)       cabextract $1  ;;
        *)           echo "extract: '$1' - unknown archive method" ;;
      esac
    else
      echo "$1 - file does not exist"
    fi
  fi
}

function zip_all_individually {
if [ -z "$1" ];
then
	for i in *.rwx; do zip `basename $i .rwx`.zip $i; done
else
	for i in *.$1; do zip `basename $i .$1`.zip $i; done
fi
}

# Image Manipulation

function bmp_to_png {
	for img in *.bmp; do
		filename=${img%.*}
		convert "$filename.bmp" "$filename.png"
	done
}

# Everyday utils

function clif {
	find . -name '*.'"$1" | xargs wc -l
}

function wdmesg {
	tail_lines="$1"
	if [ -z "$tail_lines" ]
	then
		tail_lines=20
	fi
	watch -n 0.1 "sudo dmesg | tail -$tail_lines"
}

# Diagnostic/Troubleshooting/Show off

function dump_specs {
	rm specs.tar.gz

	lspci > lspci.log
	lsusb > lsusb.log

	sudo inxi -FmB -v 7 > inxi.log
	sudo chown $USER:$USER inxi.log

	tar -cvf specs.tar.gz *.log

	rm lspci.log
	rm lsusb.log
	rm inxi.log
}

#Media Stuff

#ytdl_ogg $1

function cutsong {
	ffmpeg -i "$1" -ss "$2" -to "$3" -c copy ass.ogg
	mv ass.ogg "$1"
}

function update-cnf {
	sudo pkgfile -u
}

function update-grub {
	sudo grub-mkconfig -o /boot/grub/grub.cfg
}

function dmesg-fix {
	#Permanent fix - put in /etc/sysctl.d/51-dmesg-restrict.conf
	sudo sysctl kernel.dmesg_restrict=0
}

function ram_random_disable {
  sudo sysctl -w kernel.randomize_va_space=0
}

function ram_random_enable {
  sudo sysctl -w kernel.randomize_va_space=2
}

function nicepath {
	echo "$1" | tr \: \\n
}
function lwh {
	ls -la $(which "$1")
}

#underline () { t="$1"; c=${2:-=}; echo "$1"; echo "${t//?/$c}"; } #Meh
